<h3>TODO task's:</h3>

<div>
    <ul>
        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Zrobić zakupy</h4>
            <p>
                -mleko <br />
                -kawa <br />
                -cukier <br />
                -herbata <br />
                -makaron <br />
                -proszek do prania<br />
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Posprzątać pokój</h4>
            <p>
                Muszę to zrobić. Ostatnio sprątałem miesiąc temu
            </p>
        </li>

        <li class="done">
            <h4>Przygotować prezentacje</h4>
            <p>
                Prezentacja ma być na temat Angulara
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Przeczytć dokumentacje nestjs</h4>
            <p>
                Link do dokumentacji: https://nestjs.com/
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Napisać wstęp do pracy licencjackiej</h4>
            <p>
                Muszę napisać wtęp do pracy licencjaciej. Termin jest do 14.12.2019 więc muszę się streszczać. Jeeli
                tego
                nie zrobię to nie skończę studiów w tym roku i będzie straszna lipa.
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Zaznajomić się z temactem NoSQL</h4>
            <p>
                Zaznajomić się z tematem not only sql.
            </p>
        </li>

        <li class="done">
            <h4>Zrobić zakupy</h4>
            <p>
                -mleko <br />
                -kawa <br />
                -cukier <br />
                -herbata <br />
                -makaron <br />
                -proszek do prania<br />
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>To jest zadanie z bardzo długą nazwą, a dodałem je dlatego poniewa chciałemmmmmmmmm sprawdzić czy widok
                stworzony w HTML będzie się prawidłwo zachowywał w takim przypadku</h4>
            <p>
                Zaznajomić się z tematem not only sql.
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Kupić prezent na mikołjki</h4>
            <p>
                Prezent na mikołajki w pracy ma być uni-sex itp. Będziemy losować komu damy prezent juz po jego zakupie.
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Angular Reactive forms</h4>
            <p>
                Muszę się zagłębić w temat Angular Reactive Forms. Niby coś tam wiem - ale nie za wiele...
            </p>
        </li>

        <li>
            <div class="buttons">
                <span>&#10003;</span>
            </div>
            <h4>Posprzątać pokój</h4>
            <p>
                Muszę to zrobić. Ostatnio sprątałem miesiąc temu
            </p>
        </li>
    </ul>
</div>